/* Import Tailwind CSS */
@tailwind base;
@tailwind components;
@tailwind utilities;

/* You can add any other global base styles here */
body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
